<h1>Addition</h1>

<form action ="add/results">
<label for="input1">Add this:</label>
<input id="input1" type="text" name="elephant">
<label for="input2">to this:</label>
<input id="input2" type="text" name="zebra">
<button>Add!</button>
