<h1>Division</h1>

<form action="divide/results">
<label for="input1">Divide this:</label>
<input id="input1" type="text" name="elephant">
<label for="input2">by this:</label>
<input id="input2" type="text" name="zebra">
<button>Divide!</button>
