<h1>Multiplication</h1>

<form action="multiply/results">
<label for="input1">Multiply this:</label>
<input id="input1" type="text" name="elephant">
<label for="input2">by this:</label>
<input id="input2" type="text" name="zebra">
<button>Multiply!</button>
