<h1>Subtraction</h1>

<form action="subtract/results">
<label for="input1">Subtract this:</label>
<input id="input1" type="text" name="elephant">
<label for="input2">from this:</label>
<input id="input2" type="text" name="zebra">
<button>Subtract!</button>
